.TodoBlock {
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 8px;

  cursor: pointer;
}

.TodoBlock:hover {
  background-color: #eeeeee;
}

.TodoBlock_Content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
