body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dm-serif), serif !important;
}

p,
button {
  font-family: var(--font-dm-sans), sans-serif !important;
}

.MuiButtonBase-root {
  border-radius: 1.5rem !important;
}

.MuiButtonGroup-root {
  width: 100%;
  & > .MuiButtonBase-root {
    border-radius: 0 !important;
    width: 100%;
  }
}
.svg svg {
  width: 3rem;
  height: 3rem;
}
.svg__Dark svg {
  width: 3rem;
  height: 3rem;
  fill: white;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input {
  font-size: 1.5rem !important;
  line-height: 24px !important;
}
.w-md-editor-bar {
  display: none;
}

.w-md-editor-toolbar {
  background-color: inherit !important;
}
.wmde-markdown {
  background-color: inherit !important;
  color: inherit !important;
}
