@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400;1,9..40,500;1,9..40,700&family=DM+Serif+Display:ital@0;1&display=swap");

body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif !important;
}

p,
button {
  font-family: "DM Sans", sans-serif !important;
}

.MuiButtonBase-root {
  border-radius: 1.5rem !important;
}

svg {
  width: 3rem;
  height: 3rem;

  fill: grey;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
  &:hover {
    fill: black;

    scale: 1.1;
  }
}
