.ToDoBox {
  max-width: calc(100vw - 400px);
}

.ToDoBox > textarea {
  border: 0px;
}

.ToDoBox_Heading {
  font-size: 60px;

  resize: none;

  width: calc(100vw - 400px);
}

.ToDoBox_Content {
  resize: none;

  min-height: calc(100vh - 400px);
}
.ToDoBox_Content svg {
  width: 1.5rem;
  height: 1.5rem;
}
